.side_bar {
  box-sizing: border-box;
  height: 100vh;
  width: 300px;
  color: $white;
  font-weight: bold;
  a, a:visited { color: $white;}
  a { text-decoration: none }

  .side-header {
    background-color: $side_blue_dark;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    
    &__box {
      &__user-name {
        display: inline-block;
        font-size: $side_header_font;
      }

      &__menu {
        display: inline-block;
        float: right;
        font-size: $side_header_font;
        color: $white;
        
        &__new-group {
          display: inline-block;
        }
        &__edit-user {
          display: inline-block;
        }  
      }
    }
  }
  
  .groups {
    overflow: scroll;
    background-color: $side_blue_light;
    height: calc( 100vh - 100px );
    width: 260px;
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__group-name {
        font-size: $side_group_name;
      }
      &__latest-message {
        font-size: $side_group_message;
        margin-top: 5px;
      }
    }
  }
}
